:root {
--clr-backgraund-main: #ffffff;
--clr-black-first: #2E2F42;
--clr-black-second: #434455;
--clr-black-third: #8E8F99;
--clr-blue-first: #4D5AE5;
--clr-blue-second:#404BBF;
--clr-white-first: #F4F4FD;
--clr-white-second:  #FFFFFF;
--clr-white-third: #E7E9FC;
--clr-white-fourth: #FCFCFC;
--clr-shadow: rgba(0, 0, 0, 0.15);
--clr-green-first: #31D0AA;
}

body {
font-family: "Roboto", sans-serif;
color: var(--clr-black-first);
background-color: var(--clr-backgraund-main);
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em; 
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
margin: 0;
padding: 0;
}

img{   
display: block;
max-width: 100%;
height: auto;}

.container{
max-width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

.container-bottom{
max-width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
display: flex;
}

.socials-list{
list-style-type: none;
display: flex;
gap: 24px;
justify-content: center;
padding-top: 8px;
}

.socials-item{
width: 40px;
height: 40px;
}

.socials-link{
display: block;
width: 100%;
height: 100%;
background-color: var(--clr-blue-first);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,  
.socials-link:focus {
 background-color: var(--clr-blue-second);
}

.socials-icons{
width: 16px;
height: 16px;
fill: var(--clr-white-first);
}

.social-media{
font-size: 16px;
line-height: 1.5;
color: var(--clr-white-second);
margin-bottom: 16px;
}

.social-footer-box{
margin-left: 120px;
display: block;
}

.social-list-footer{
display: flex;
list-style-type: none;
gap: 16px;
}

.socials-footer-list{
list-style-type: none;
display: flex;
gap: 24px;
justify-content: center;
padding-top: 8px;
}

.socials-footer-item{
width: 40px;
height: 40px;
}

.socials-footer-link{
display: block;
width: 100%;
height: 100%;
background-color: var(--clr-black-second);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-footer-link:hover,
.socials-footer-link:focus {
background-color: var(--clr-green-first);
}

.socials-footer-icons{
width: 16px;
height: 16px;
fill: var(--clr-white-first);
}

.subscribe-footer{
margin-left: 120px;
display: block;
}

.subscribe-text{
font-size: 16px;
line-height: 1.5;
color: var(--clr-white-second);
margin-bottom: 16px;
}

.subscribe{
}

.form{
  display: flex;
  gap: 24px;
}

.subscribe-mail{
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2E2F42;
  padding: 8px 16px;
  outline: transparent;
}
.subscribe-mail:hover,
.subscribe-mail:focus{
  border-color: #4D5AE5;
}


.button-subscribe{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
display: flex;
background-color: #4D5AE5;
padding: 8px 24px;
gap: 16px;
color: var(--clr-white-second);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: none;
border-radius: 4px;
}
.button-subscribe:hover,
.button-subscribe:focus{
background-color: #404BBF;
}

.icon-send{
width: 24px;
height: 20px;
fill: var(--clr-white-second);
}


.header{
border-bottom: 1px solid var(--clr-white-third)
}
    
.nav-header{
justify-content: space-between;
display: flex;
}
    
.header-navigation{
display: flex;
align-items: center;
}

.style-type {
list-style-type: none;
display: flex;
gap: 40px;
}

.style-type-nav{
list-style-type: none;
display: flex;
gap: 40px;
}

.nav-list-header{
list-style-type: none;
display: flex;
gap: 40px;
}

.style-features{
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 24px;
}

.features-item{
flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-box{
height: 112px;
background-color: var(--clr-white-first);
border-radius: 4px;
margin-bottom: 8px;
display: flex;
justify-content: center;
align-items: center;
}

.icon-features{
width: 64px;
height: 64px;
}

.customers{
padding-top: 120px;
padding-bottom: 120px;
}

.customers-title{
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}

.customers-list{
display: flex;
gap: 24px;
list-style: none;
}

.customers-item{
width: 168px;
height: 88px;
}

.customers-link{
display: flex;
justify-content: center;
align-items: center;
color: var(--clr-black-third);
width: 100%;
height: 100%;
border: 1px solid var(--clr-black-third);
border-radius: 4px;
transition: color, border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
border-color: var(--clr-blue-second);
color: var(--clr-blue-second);
}

.customers-icon{
width: 104px;
height: 56px;
fill: currentColor;
}

.servise-title{
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
margin-bottom: 72px;
text-align: center;
text-transform: capitalize;
}

.style-type-team{
list-style-type: none;
display: flex;
gap: 24px;
}

.style-type-button{
margin-bottom: 72px;
display: flex;
justify-content: center;
gap: 24px;
list-style-type: none;
}

.servise{
padding-bottom: 120px;
}

.servise-photo{
flex-basis: calc(( 100%- 2 * 24px ) /3 );
}


.direction-work{
flex-basis: calc(( 100% - 3 * 24px ) / 3);
margin-right: 24px;
margin-bottom: 48px;
}

.text-direction{
padding: 32px 0 32px 16px;
border: 1px solid var(--clr-white-third);
border-top: none;
}

.logo-one {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
color: var(--clr-blue-first);
text-decoration: none;
text-transform: uppercase;
margin-right: 76px;
}

.logo-two {
color: var(--clr-black-first);
text-decoration: none;
}

.logo-two-white {
color: var(--clr-white-first);
text-decoration: none;
}

.navigation {
display: block;
text-decoration: none;
font-weight: 500;
position: relative;
color: var(--clr-black-first);
padding-top: 24px;
padding-bottom: 24px;
transition: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation:hover, 
.navigation:focus{
color: var(--clr-blue-second);
}

.navigation.current::after{
content: "";
width: 100%;
height: 4px;
background-color: currentColor;
display: block;
border-radius: 2px;
position: absolute;
bottom: 0;
}

.navigation.current {color: var(--clr-blue-second);
}

.navigation:not(:last-child) {
margin-right: 50px;
}

.address {
padding-top: 24px;
padding-bottom: 24px;
display: block;
font-style: normal;
color: var(--clr-black-second);
text-decoration: none;
transition: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus{
color: var(--clr-blue-second);
}

.container-button-portfolio {
padding: 12px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--clr-blue-first);
background-color: var(--clr-white-first);
border: 1px solid var(--clr-white-third);
border-radius: 4px;
cursor: pointer;
padding: 12px 24px;
transition: background-color, color, box-shadow, border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container-button-portfolio:hover,
.container-button-portfolio:focus{ 
background-color: var(--clr-blue-second);
color: var(--clr-white-first);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
border-color: var(--clr-blue-second);
}

.container-footer{
width: 264px;
}

.section-team {
padding-top: 120px;
padding-bottom: 120px;
background-color: var(--clr-white-first)
}

.about-team{
margin-bottom: 72px;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
}

.people {
background-color:var(--clr-backgraund-main);
flex-basis: calc((100% - 3 * 24px) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);;
}

.people-team{
padding-top: 32px;
padding-bottom: 32px;
}

.subtitle-team{
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
color: var(--clr-black-first);
}

.text-team{
margin: 0;
text-align: center;
color: var(--clr-black-second);
}

.footer {
background-color: var(--clr-black-first);
padding-top: 100px;
padding-bottom: 100px;}

.footer-text {
margin-top: 16px;
color: var(--clr-white-third);}

.dark-bg {
margin-right: auto;
margin-left: auto;
width:1440px;
padding-top: 188px;
padding-bottom: 188px;
text-align: center;
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)
),
url('../images/people-office.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.general{
padding-top: 120px;
padding-bottom: 120px;
}

.title {
margin-bottom: 48px;
font-size: 56px;
line-height: 1.07;
color: var(--clr-white-second);
}

.subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
margin: 0;
}

.text {
color: var(--clr-black-second);
margin-top: 8px;
}

.button-hero {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
background-color: var(--clr-blue-first);
color: var(--clr-white-second);
letter-spacing: 0.04em;
box-shadow: 0px 4px 4px var(--clr-shadow);
border-radius: 4px;
border: none;
cursor: pointer;
letter-spacing: 0.04em;
padding: 16px 32px;
transition: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover, 
.button-hero:focus{
background-color:var(--clr-blue-second);
}

.secction-app{
padding-top: 96px;
padding-bottom: 120px;
}

.style-type-portfolio{
list-style-type: none;
margin-right: -24px;
margin-bottom: -48px;
display: flex;
flex-wrap: wrap;
}

.title-app{
text-decoration-line: none;
display: block;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
transition: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.title-app:hover,
.title-app:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.subtitle-porfolio{
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--clr-black-first);
}

.app-name{
margin: 0;
color: var(--clr-black-second);
}

.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
display: flex;
justify-content: center;
align-items: center;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal{
position: relative;
width: 100%;
max-width: 408px;;
height: 100%;
max-height: 576px;
background-color: var(--clr-white-fourth);
border-radius: 4px;
padding-top: 72px;
padding-left: 24px;
padding-right: 24px;
}

.modal-close{
position: absolute;
top: 24px;
right: 24px;
width: 30px;
height: 30px;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;
transition: background-color, border-color, fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus{
fill: var(--clr-white-second);
background-color: var(--clr-blue-first);
}

.modal-close > .icon-close:hover,
.modal-close > .icon-close:focus{
fill: var(--clr-white-second);
}

.icon-close{
display: block;
margin: 0 auto;
width: 8px;
height: 8px;
}

.portfolio-img{
position: relative;
overflow: hidden;
}

.portfolio-info{
position: absolute;
background-color: var(--clr-blue-first);
color: var(--clr-white-first);
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: translateY(100%);
padding-left: 32px;
padding-right: 32px;
padding-top: 40px;
transition: transform 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-app:hover .portfolio-info{
transform: translateY(0);
}

.user-comment{
  width: 100%;
  height: 120px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
}
.user-comment:hover,
.user-comment:focus{
  border-color: #404BBF;
}

.contact-info{
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  margin-left: 40px;
  margin-top: 11px;
  margin-bottom: 11px;
}
.contact-info:hover,
.contact-info:focus{
  fill: #4D5AE5;
}

.info-form{
  width: 100%;
  height: 40px;
  padding: 8px 38px;
  border-radius: 4px;
  border: 1px Solid
  rgba(33, 33, 33, 0.2);
  background-color: transparent;
  outline: transparent;
}
.info-form:hover,
.info-form:focus{
  border-color: #4D5AE5;
}
.info-form:hover + .contact-info,
.info-form:focus + .contact-info{
  border-color: #4D5AE5;
  fill: #4D5AE5;
}

.modal-contact-form{
}

.modal-title{
display: flex;
justify-content: center;
margin-bottom: 16px;
}

.contact-form{
}

.modal{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  letter-spacing: 0.04em;

  color: var(--clr-label);
}

.modal-user{
  margin-bottom: 8px;
  font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}
.modal-user label{
  display: flex;
  margin-bottom: 4px;
}

.checkbox{
  margin-bottom: 8px;
  font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  display: flex;
}

.checkbox:checked+.policy-text::before {
  background-color: transparent;
  border: none;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;

.modal-btn{
  display: flex;
    justify-content: center;
    margin: 0 auto;
}

.send{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;

  width: 169px;
  height: 56px;
  color: var(--clr-blue-first);
  border: none;
  background-color: var(--clr-blue-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}
.send:hover,
.send:focus{
  background-color: #404BBF;
}

.policy-text{
  display: flex;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
}

.modal-user-checkbox {
  margin-top: 12px;
  margin-bottom: 24px;
  justify-content: center;
  display: flex;
}
.modal-user-checkbox label {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
  color: var(--clr-blue-first);
}

.privacy-policy::before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
}
.checkbox:checked + .privacy-policy::before {
  background-image: url(../images/icons.svg#icon-property-click);
}

.link-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--clr-blue-first);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}