:root {
--clr-backgraund-main: #ffffff;
--clr-black-first: #2E2F42;
--clr-black-second: #434455;
--clr-black-third: #8E8F99;
--clr-blue-first: #4D5AE5;
--clr-blue-second:#404BBF;
--clr-white-first: #F4F4FD;
--clr-white-second:  #FFFFFF;
--clr-white-third: #E7E9FC;
--clr-white-fourth: #FCFCFC;
--clr-shadow: rgba(0, 0, 0, 0.15);
--clr-green-first: #31D0AA;
}

body {
font-family: "Roboto", sans-serif;
color: var(--clr-black-first);
background-color: var(--clr-backgraund-main);
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em; 
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
margin: 0;
padding: 0;
}

img{   
display: block;
max-width: 100%;
height: auto;}

.container{
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
max-width: 428px;
}
@media screen and (min-width: 768px) {
  .container {
      max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
      max-width: 1158px;
  }
}

.foot-cnt{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px){
  .foot-cnt {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px){
  .foot-cnt{
    flex-wrap: nowrap;
  }
}

.socials-list{
list-style-type: none;
display: flex;
gap: 24px;
justify-content: center;
padding-top: 8px;
}

.socials-list-mob{
  list-style-type: none;
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
}


.socials-item{
width: 40px;
height: 40px;
}

.socials-link{
display: block;
width: 40px;
height: 40px;
background-color: var(--clr-blue-first);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,  
.socials-link:focus {
 background-color: var(--clr-blue-second);
}

.socials-icons{
width: 16px;
height: 16px;
fill: var(--clr-white-first);
}

.social-media{
font-size: 16px;
line-height: 1.5;
color: var(--clr-white-second);
display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
@media(min-width:768px) { .social-media { 
  justify-content: start;
} }

.footer-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media(min-width:768px) { .footer-logo { 
  align-items: start;
} }

.social-footer-box{
  align-items: center;
  justify-content: center;
  margin-left: 0;
  text-align: center;
  margin-bottom: 72px;
}
@media(min-width:768px) { .social-footer-box { 
  margin-bottom: auto;
  text-align: start;
  margin-left: 24px;
} }
@media(min-width:1200px) { .social-footer-box { 
  margin-left: 120px;
} }

.social-list-footer{
display: flex;
list-style-type: none;
gap: 16px;
}

.socials-footer-list{
list-style-type: none;
display: flex;
gap: 24px;
justify-content: center;
padding-top: 8px;
}

.socials-footer-item{
width: 40px;
height: 40px;
}

.socials-footer-link{
display: block;
width: 100%;
height: 100%;
background-color: var(--clr-black-second);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-footer-link:hover,
.socials-footer-link:focus {
background-color: var(--clr-green-first);
}

.socials-footer-icons{
width: 16px;
height: 16px;
fill: var(--clr-white-first);
}

.subscribe-footer{
margin-left: 0;
}
@media(min-width:768px) { .subscribe-footer { 
  margin-left: 108px;
} }
@media(min-width:1146px) { .subscribe-footer { 
  margin-left: 80px;
} }

.subscribe-text{
font-size: 16px;
line-height: 1.5;
color: var(--clr-white-second);
margin-bottom: 16px;
text-align: center;
}
  @media(min-width:768px) { .subscribe-text { 
   text-align: start;
  } }

.form{
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
}
@media(max-width:1200px) { .form { 
  display: flex;
} }
@media(max-width:768px) { .form {
  display: flex; 
align-items: center;
flex-direction: column;
} }

.subscribe-mail{
  width: 290px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2E2F42;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media(min-width:768px) { .subscribe-mail { 
width: 264px;
} }
@media(min-width:1200px) { .subscribe-mail {
width: 264px;
} }

.subscribe-mail:hover,
.subscribe-mail:focus{
  border-color: #4D5AE5;
}


.button-subscribe{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
display: flex;
background-color: #4D5AE5;
padding: 8px 24px;
gap: 16px;
color: var(--clr-white-second);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border: none;
border-radius: 4px;
transition: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:hover,
.button-subscribe:focus{
background-color: #404BBF;
}

.icon-send{
width: 24px;
height: 20px;
fill: var(--clr-white-second);
}


.header{
border-bottom: 1px solid var(--clr-white-third);
}
    
.nav-header{
justify-content: space-between;
display: flex;
}
    
.header-navigation{
display: flex;
align-items: center;
padding-left: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}
@media(min-width:768px) { .header-navigation { 
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
 } }


.button-burger {
  display: flex;
  padding: 0;
}

.style-type {
list-style-type: none;
display: flex;
gap: 40px;
}

.style-type-nav{
  display: none;
}
@media(min-width: 768px) { .style-type-nav { 
  display: flex;
  list-style-type: none;
  flex-direction: column; 
  gap: 12px;
} }
@media(min-width: 1200px) { .style-type-nav { 
  flex-direction: row;
  gap: 40px;
} }

.nav-list-header{
  display: none;
}
@media(min-width: 768px){.nav-list-header{
list-style-type: none;
display: flex;
gap: 40px;
margin-left: 120px;
}}

.style-features{
list-style: none;
display: flex;
gap: 24px;
flex-wrap: wrap;
align-items: center;
}

.features-item{
  flex-basis: 100%;
  max-width: 396px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.features-item:last-child{
  margin-bottom: 0;
}
@media(min-width: 768px){
  .features-item{
  flex-basis: calc((100% - 1 * 24px) / 2);
  max-width: 356px;}
  .features-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media(min-width: 1200px){.features-item{
  flex-basis: calc((100% - 3 * 24px) / 4);
  margin-bottom: 0px;
}}

.features-box{
  display: none;
}
@media(min-width: 1200px){.features-box{
height: 112px;
background-color: var(--clr-white-first);
border-radius: 4px;
margin-bottom: 8px;
display: flex;
justify-content: center;
align-items: center;
}}


.icon-features{
width: 64px;
height: 64px;
}

.customers{
padding-top: 96px;
padding-bottom: 96px;
}
  @media(min-width: 1200px){.customers{
padding-top: 120px;
padding-bottom: 120px;
  }}

.customers-title{
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}

.customers-list{
  list-style-type: none;
display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
}

  @media (min-width: 768px){
    .customers-list {
      column-gap: 24px;
    }
  }
  @media (min-width: 1200px){
    .customers-list {
      flex-wrap: nowrap;
    }
  }

.customers-item{
height: 88px;
/* flex-basis: calc((100% - 16px) / 2); */
width: 190px;
}
@media (min-width: 768px){
  .customers-item {
    width: 168px;
    height: 88px;
    /* flex-basis: calc((100% - 2 * 24px) / 3); */
  }
}
@media (min-width: 1200px){
  .customers-item {
   /* flex-basis: 100%; */
  }
}

.customers-link{
display: flex;
justify-content: center;
align-items: center;
color: var(--clr-black-third);
width: 100%;
height: 100%;
border: 1px solid var(--clr-black-third);
border-radius: 4px;
transition: color, border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
border-color: var(--clr-blue-second);
color: var(--clr-blue-second);
}

.customers-icon{
width: 104px;
height: 56px;
fill: currentColor;
}

.servise-title{
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
margin-bottom: 72px;
text-align: center;
text-transform: capitalize;
}

.style-type-team{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  list-style-type: none;
}
  @media (min-width: 768px){
    .style-type-team {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
    }
}
@media (min-width: 1200px){
    .style-type-team {
      display: flex;
      gap: 24px;
      flex-wrap: wrap;
    }
}

.style-type-button{
margin-bottom: 72px;
display: flex;
justify-content: center;
gap: 24px;
list-style-type: none;
}

.servise{

display: none;
}
@media (min-width: 1200px){
    .servise {
      display: flex;
      padding-bottom: 120px;
    }
}


.servise-photo{
flex-basis: calc(( 100%- 2 * 24px ) /3 );
}


.direction-work{
flex-basis: calc(( 100% - 3 * 24px ) / 3);
margin-right: 24px;
margin-bottom: 48px;
}

.text-direction{
padding: 32px 0 32px 16px;
border: 1px solid var(--clr-white-third);
border-top: none;
}

.logo-one {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
color: var(--clr-blue-first);
text-decoration: none;
text-transform: uppercase;
}
@media(min-width:1200px){.logo-one{
  margin-right: 76px;
    }}

.logo-two {
color: var(--clr-black-first);
text-decoration: none;
}

.logo-two-white {
color: var(--clr-white-first);
text-decoration: none;
}

.navigation {
display: block;
text-decoration: none;
font-weight: 500;
position: relative;
color: var(--clr-black-first);
padding-top: 24px;
padding-bottom: 24px;
transition: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation:hover, 
.navigation:focus{
color: var(--clr-blue-second);
}

.navigation.current::after{
content: "";
width: 100%;
height: 4px;
background-color: currentColor;
display: block;
border-radius: 2px;
position: absolute;
bottom: 0;
}

.navigation.current {color: var(--clr-blue-second);
}

.navigation:not(:last-child) {
margin-right: 50px;
}

.address {
padding-top: 0;
padding-bottom: 0;
display: block;
font-style: normal;
color: var(--clr-black-second);
text-decoration: none;
transition: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover,
.address:focus{
color: var(--clr-blue-second);
}
@media(min-width:1200px) { .address { 
  padding-top: 24px;
  padding-bottom: 24px;
} }

.container-button-portfolio {
padding: 12px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: var(--clr-blue-first);
background-color: var(--clr-white-first);
border: 1px solid var(--clr-white-third);
border-radius: 4px;
cursor: pointer;
padding: 12px 24px;
transition: background-color, color, box-shadow, border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container-button-portfolio:hover,
.container-button-portfolio:focus{ 
background-color: var(--clr-blue-second);
color: var(--clr-white-first);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
border-color: var(--clr-blue-second);
}


  .container-footer > .logo-one {
    text-align: center;
      }
.container-footer{
width: 264px;
margin-bottom: 72px;
}
  @media (min-width: 768px) {
    .container-footer {
      width: 264px;
    margin-left: 108px;
    margin-right: 24px;
    margin-bottom: 72px;
    }
  }
  @media (min-width: 1158px) {
    .container-footer {
margin-left: 0;
    }
  }

.section-team {
  padding-top: 96px;
  padding-bottom: 96px;
background-color: var(--clr-white-first)
}
  @media (min-width: 1158px) {
    .section-team {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

.about-team{
margin-bottom: 72px;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
}

.people {
background-color:var(--clr-backgraund-main);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);;
}

@media (min-width: 768px) {
  .people {
  }
}
@media (min-width: 1158px) {
  .people {
    flex-basis: calc((100% - 72px) / 4);
  }
}


.people-team{
padding-top: 32px;
padding-bottom: 32px;
}

.subtitle-team{
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
color: var(--clr-black-first);
}

.text-team{
margin: 0;
text-align: center;
color: var(--clr-black-second);
}

.footer {
background-color: var(--clr-black-first);
width: 100%;
  padding-top: 96px;
padding-bottom: 96px;
}
@media (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-text {
margin-top: 16px;
width: 268px;
color: var(--clr-white-third);}

.dark-bg {
  width: auto;
  padding-top: 112px;
  padding-bottom: 112px;
text-align: center;
background-image: linear-gradient(
  rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)
),
url('../images/people-office.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
@media (min-width: 1158px) {
  .dark-bg {
    margin-right: auto;
    margin-left: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
}

@media(min-device-pixel-ratio: 2),
(min-resolution:192dpi),
(min-resolution: 2dppx) {.dark-bg { background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-hero-bg.jpg); 
  background-size: cover;} }
@media screen and (min-width: 768px) {
    .dark-bg {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tab-hero-bg.jpg');
            background-size: cover;}}
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
        .dark-bg {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/tab-hero-bg@2x.jpg');
            background-size: cover;}} 
@media screen and (min-width: 1200px) {
        .dark-bg {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-bg.jpg');
            background-size: cover;
            padding: 188px 0;}}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
    (min-resolution: 192dpi) and (min-width: 1200px),
    (min-resolution: 2dppx) and (min-width: 1200px) {
        .dark-bg {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-bg@2x.jpg');
            background-size: cover;
            max-width: 1440px;}}

.general{
  padding-top: 96px;
  padding-bottom: 96px;
  padding-right: 16px;
  padding-left: 16px;
}
@media (min-width: 1158px) {
  .general {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.07;
  color: var(--clr-white-second);
}
@media (min-width: 768px) {
  .title {
    margin-bottom: 36px;
  }
}
@media (min-width: 1158px) {
  .title {
    margin-bottom: 48px;
    font-size: 56px;
  }
}


.subtitle {
font-weight: 700;
font-size: 20px;
line-height: 1.1;
margin: 0;
text-align: center;
}

@media (min-width: 768px) {
  .subtitle {
    text-align: start;
  }
}

@media (min-width: 1158px) {
  .subtitle {
    font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
  }
}

.general-text {
color: var(--clr-black-second);
margin-top: 8px;
}

.button-hero {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
background-color: var(--clr-blue-first);
color: var(--clr-white-second);
letter-spacing: 0.04em;
box-shadow: 0px 4px 4px var(--clr-shadow);
border-radius: 4px;
border: none;
cursor: pointer;
letter-spacing: 0.04em;
padding: 16px 32px;
transition: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover, 
.button-hero:focus{
background-color:var(--clr-blue-second);
}

.secction-app{
padding-top: 96px;
padding-bottom: 120px;
}

.style-type-portfolio{
list-style-type: none;
margin-right: -24px;
margin-bottom: -48px;
display: flex;
flex-wrap: wrap;
}

.title-app{
text-decoration-line: none;
display: block;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
transition: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.title-app:hover,
.title-app:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.subtitle-porfolio{
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--clr-black-first);
}

.app-name{
margin: 0;
color: var(--clr-black-second);
}

.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
display: flex;
justify-content: center;
align-items: center;
padding: 12px 0px;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal{
width: 100%;
max-width: 392px;
position: relative;
overflow: auto;
background-color: var(--clr-white-fourth);
border-radius: 4px;
padding-top: 72px;
padding-left: 24px;
padding-right: 24px;
padding-bottom: 24px;
letter-spacing: 0.04em;
color: var(--clr-label);
}

@media (min-width: 768px) {
  .subtitle {
    max-width: 408px;
  }
}

@media (min-width: 1158px) {
  .subtitle {
    max-width: 408px;;
    max-height: 584px;
    width: 100%;
height: 100%;
  }
}

.modal-close{
position: absolute;
top: 24px;
right: 24px;
width: 30px;
height: 30px;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;
transition: background-color, border-color, fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus{
fill: var(--clr-white-second);
background-color: var(--clr-blue-first);
}

.modal-close > .icon-close:hover,
.modal-close > .icon-close:focus{
fill: var(--clr-white-second);
}

.icon-close{
display: block;
margin: 0 auto;
width: 8px;
height: 8px;
transition: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img{
position: relative;
overflow: hidden;
}

.portfolio-info{
position: absolute;
background-color: var(--clr-blue-first);
color: var(--clr-white-first);
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: translateY(100%);
padding-left: 32px;
padding-right: 32px;
padding-top: 40px;
transition: transform 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-app:hover .portfolio-info{
transform: translateY(0);
}

.user-comment{
  width: 100%;
  max-height: 120px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:hover,
.user-comment:focus{
  border-color: #404BBF;
}

.contact-info{
  top: 50%;
  margin-top: 8px;
  left: 16px;
  position: absolute;
  transform: translateY(-50%);
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info:hover,
.contact-info:focus{
  fill: #4D5AE5;
}

.info-form{
  width: 100%;
  height: 40px;
  padding: 8px 38px;
  border-radius: 4px;
  border: 1px Solid
  rgba(33, 33, 33, 0.2);
  background-color: transparent;
  outline: transparent;
  transition: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.info-form:hover,
.info-form:focus{
  border-color: #4D5AE5;
}
.info-form:hover + .contact-info,
.info-form:focus + .contact-info{
  border-color: #4D5AE5;
  fill: #4D5AE5;
}

.modal-title{
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
}

.contact-form{
}

.modal-user{
  position: relative;
  
  margin-bottom: 4px;
  font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}
.modal-user label{
  display: flex;
  margin-bottom: 4px;
}

.checkbox{
  position: absolute;
  width: 16px;
  height: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-submit {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  color: var(--clr-white-first);
  border: none;
  background-color: var(--clr-blue-first);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--clr-blue-second);
}

.policy-text{
  display: flex;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
}

.modal-user-checkbox {
  margin-top: 12px;
  margin-bottom: 24px;
  justify-content: center;
}

.modal-user-checkbox label {
  position: relative;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
  color: #757575;
}

.privacy-policy{
  margin-left: 24px;
}

.privacy-policy::before {
  top: 0;
  left: -21px;
  position: absolute;
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
}
.checkbox:checked + .privacy-policy::before {
  background-color: #404BBF;
  background-image: url(../images/ector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.link-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--clr-blue-first);
}

.menu-open{
  background-color: transparent;
    border: none;
    padding: 0;
}

.menu-open-icon{
  display: flex;
  align-items: center;
}

.mobile-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
    padding: 24px 15px 24px 15px;
}
.mobile-btn:hover,
.mobile-btn:focus{
  fill: #404BBF;
}
@media (min-width: 768px){
  .mobile-btn {
    display: none;
  }
}


.mobile-menu{
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 1s;
  background-color:var(--clr-white-second);
}
.mobile-menu.is-open {
  transform: translateY(0);
}


.mobile-nav{
}

.mob-list{
  margin-bottom: auto;
}

.mob-item{
  margin-bottom: 40px;
  list-style-type: none;
}
.mob-item:last-child {
  margin-bottom: 0px;}

.mob-link{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--clr-black-second);
}

.menu-close{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;

  background-color: transparent;
  border: 1px solid rgba(231, 233, 252, 1);
  border-radius: 50%;
}
.menu-close:hover,
.menu-close:focus{
  background-color: #404BBF;
  fill: #E7E9FC;
}

.mobile-list{
  margin-bottom: 48px;
}

.mobile-tel{
  margin-bottom: 40px;
  list-style-type: none;
}

.mobile-contact{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
}

.mobile-mail{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--clr-black-second);
  font-style: normal;
  text-decoration: none;
}

.mobile-menu-header{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}