body {
font-family: "Roboto";
color: #2E2F42;
background: #FFFFFF;}

ul {
list-style: none;}

h2 {
font-weight: 700;
font-size: 36px;
line-height: 1,1;}

h3 {
font-weight: 500;
font-size: 20px;
line-height: 1,2;
letter-spacing: 0.02em;
color: #2E2F42;}

p {
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
color: #434455;}

.header {
display: flex;
padding: 10px;
width: 1440px;
height: 72px;}

.logo-one {
display: flex;
text-transform: uppercase;
letter-spacing: 0.03em;
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1,3;
color: #4D5AE5;}

.logo-two {
text-transform: uppercase;
font-family: 'Raleway';
display: flex;
letter-spacing: 0.03em;
color: #2E2F42;}

.logo-two-white {
text-transform: uppercase;
font-family: 'Raleway';
display: flex;
color: #F4F4FD;}

.navigation {
width: 48px;
height: 24px;
font-weight: 500;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;}
.navigation:hover {
color: #404BBF;}
.navigation:focus{
color: #404BBF;},
.navigation:active,

.address {
font-weight: 400;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
color: #434455;}
.address:hover {
color: #404BBF;}
.address:focus{
color: #404BBF;},
.address:active,



.button-portfolio {
display: flex;
padding: 12px 24px;
background: #F4F4FD;
font-family: 'Roboto';
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;}
.button-portfolio:hover{ 
background: #404BBF;
color: #FFFFFF;}
.button-portfolio:focus,
.button-portfolio:active,

.section-team {
background-color: #F4F4FD;}

.people {
display: flex;
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
padding: 0px 0px 32px;
gap: 32px;}

.footer {background-color: #2E2F42;}

.footer-text {
color: #E7E9FC;}

.dark-bg {
background-color: #2E2F42;}

.title {
font-weight: 700;
font-size: 56px;
line-height: 1,1;
letter-spacing: 0.02em;
color: #FFFFFF;}

.button-hero {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
background-color: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto';
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;}
.button-hero:hover{background: #404BBF;}, 
.button-hero:focus{background: #404BBF;},
.button-hero:active,